extends layout

block content
  h1 Simplified Des + Cipher Block Chaining
  div(style='text-align: center')
    a.button-xlarge.pure-button.button-secondary(href='/encrypt')
      i.fa.fa-lock &nbsp
      | Encrypt
    | &nbsp;&nbsp;
    a.button-xlarge.pure-button.button-success(href='/decrypt')
      i.fa.fa-unlock &nbsp
      | Decrypt 
